{% extends 'base.html' %}

{% block content %}

<div class="container">

    <br>

    {% load static %}
    <center><img src="{% static 'images/eastern/cavs.png' %}" alt="cavs" width="300" height="250"></center>

    <br>

    <!--LINK TO CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <!-- Team Name -->
    <div class="center">
        {% for team in cle_info.teams%}
            <h3 class="card-body prim white"><b>Team Name:</b></h3>
            <h5 class="card-body prim white text">{{team.strTeam}}</h5>
        {% endfor %}
    </div>

    <br>

    <!-- Year Formed -->
    <div class="center">
        <!-- <div class="card border-dark" style="max-width: 70rem;"> -->
            {% for year in cle_info.teams %}
                <h4 class="card-body prim white"><b>Year Formed:</b></h4>
                <h5 class="card-body prim white text">{{year.intFormedYear}}</h5>
            {% endfor %}
        <!-- </div> -->
    </div>

    <br>

    <!--Team Stadium-->
    <div class="center">
        <!-- <div class="card border-primary" style="max-width: 70rem;"> -->
            {% for team in cle_info.teams %}
                <h4 class="card-body prim white"><b>Team Stadium:</b></h4>
                <h5 class="card-body prim white text">{{ team.strStadium }}</h5>
            {% endfor %}
        <!-- </div> -->
    </div>

    <br>

    <!--Last 5 Games Played-->
    <div class="center">
        <!-- <div class="card border-primary" style="max-width: 70rem;"> -->
            <h4 class="card-body prim white"><b>Last 5 Games Played:</b></h4>
                <div class="card-body">
                    {% for score in cle_last.results %}
                    <p class="card-text scores prim white textdown">
                        {{score.dateEventLocal}}<br>
                        <b>@{{score.strHomeTeam}} {{score.intHomeScore}} <br>
                        {{score.strAwayTeam}} {{score.intAwayScore}}</b></p>
                    {% endfor %}
                </div>         
    </div>
    
    <br>

    <!--Next 5 Games played-->
    <div class="center">
        <!-- <div class="card border-primary" style="max-width: 70rem;"> -->
            <h4 class="card-body prim white"><b>Next 5 Games:</b></h4>
                <div class="card-body prim white">
                    {% for score in cle_next.events %}
                        <p class="card-text scores textdown"><b>{{score.strEventAlternate}}</b></p>
                    {% endfor %}
                </div>
        <!-- </div> -->
    </div>

    <br>

</div>

{% endblock %}

   