body {
    background-image: radial-gradient(circle, rgb(49, 144, 228) 0%, rgb(29, 84, 166) 100%);
    height: 100vh;
}

.nav {
    position: sticky;
}

.right {
    position: absolute;
    right: 350px;
}


.center {
    text-align: center;
  }
  

.left {
      text-align: left;
  }

.west {
    align-content: stretch;
  }

.grey {
    background-color: #DCDCDC;
    color: black;
  }

.black {
    color: black;
}

/* for the dropdowns and the landing page */
.ddowns{
  background-color: rgb(49, 144, 228);
  color: rgb(218, 224, 230);
  border-width: 1px;
  border-color: white;
  font-size: large;
}
.ddlist .intro{
  background-color: rgb(49, 144, 228);
  color: rgb(218, 224, 230);
  border-width: 1px;
  border-color: white;
}

/* for the Teams */

.prim{
  background-color: rgb(20, 97, 165);
  opacity: 20;
  border-radius: 10px;
}
.white {
  color: rgb(218, 224, 230);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: white;
}
.text {
  font-weight: 300;
  font-size: x-large;
}
.textdown {
  font-weight: 300;
  font-size: large;
}

/* Hide Dropdown by default */
.dropdown-content{
  display: none;
}

/* Dropdown Hover */
.dropdown:hover .dropdown-content{
  display: block;
}